USE [master]
GO
/****** Object:  Database [WishlistManager]    Script Date: 11/23/2016 9:27:58 AM ******/
CREATE DATABASE [WishlistManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WishlistManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WishlistManager.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WishlistManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WishlistManager_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WishlistManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [app]    Script Date: 11/23/2016 9:27:58 AM ******/
CREATE LOGIN [app] WITH PASSWORD=N'Rq0VCsoznzQ7eREZe6SfUAxEgV6rySEExP5DTf0MtNk=', DEFAULT_DATABASE=[WishlistManager], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [app] DISABLE

GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [logitrainer]
GO
ALTER SERVER ROLE [securityadmin] ADD MEMBER [logitrainer]
GO
ALTER SERVER ROLE [serveradmin] ADD MEMBER [logitrainer]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [INFINITY\nicks]
GO
USE [WishlistManager]
GO
/****** Object:  User [app]    Script Date: 11/23/2016 9:27:58 AM ******/
CREATE USER [app] FOR LOGIN [app] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [app]
GO
/****** Object:  Table [dbo].[person]    Script Date: 11/23/2016 9:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_person] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[wishlist_item]    Script Date: 11/23/2016 9:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[wishlist_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[person_id] [int] NOT NULL,
	[description] [varchar](200) NOT NULL,
	[type] [varchar](200) NULL,
	[is_purchased] [bit] NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_wishlist_item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[wishlist_item]  WITH CHECK ADD  CONSTRAINT [FK_wishlist_item_person] FOREIGN KEY([person_id])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[wishlist_item] CHECK CONSTRAINT [FK_wishlist_item_person]
GO
USE [master]
GO
